@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: greenyellow;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  padding: 75px;
}
h1 {
  text-align: center;
  padding: 20px;
}
p {
  padding: 20px;
}

#intro {
  text-align: center;
}
.form {
  border: 5px solid black;
  text-align: center;
  padding: 10px;
  margin: 20px;
  width: 400px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

#form h2 {
  color: blue;
}

/* Invaders CSS */
.grid {
  width: 300px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
